@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("global-nav-style.css");
/*Home page*/
*{
  box-sizing: border-box;
}
.content-container {
  display: inline-flex;
  justify-content: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin-top: 4em;
}
.dashboard-container {
margin-left: 20%;
}
.cards-container{
  height: auto;
  display: flex;
width: 80%;

  
  text-align: center;
  overflow-x: scroll;
  scroll-behavior: smooth;
  white-space: nowrap;

}
::-webkit-scrollbar {
  width: 10px;
 height: 10px;
}

::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}
.cards {
  width: 80em;
  padding-top: 1em;
  padding-bottom: 1em;
}
.card-title{
  color: white;
  font-size: 1.5em;
}
.card {

  margin-left: 5em;
  margin-right: 0.5em;
  width: 15em;
  height: 25em;
  display: inline-block;
  overflow: hidden;
  text-align: left;
  color: white;
  background-color: rgb(29, 29, 29);
  border-radius: 1em;
  box-shadow: 0.5em 0.3em white;
  transition: 300ms linear;
  cursor: pointer;
  vertical-align: middle;

}
@media screen and (max-width: 600px) {
  .card {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
.card:hover{
  box-shadow: 0.5em 0.3em #119CED;
  
}
.candidate-image {
  width: 15em;
  height: 15em;
  margin-bottom: 2em;
  border-radius: 1em 1em 0 0;
  object-fit: cover;
  align-self: center;
}
.card-content {
  margin: 0;
  padding-left: 10px;
  font-family: "Poiret One", cursive;
}
.card-content > li {
  list-style-type: none;
}
.card-content > li > h1 {
  font-size: 15px;
}
