@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("global-nav-style.css");
/*Home page*/
.dashboard-container{
height: 100%;
width: 100%;
display: flex;
justify-content: center;
}
.dashboard-content{
text-align: center;
  background-color: white;
  display: block;

}
.profile-image{
  width:10em;
  border-radius: 100%;
}

