@import url("../style/global-nav-style.css");

body{
  margin: 0;
}
.main-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.selection-container {
  width: 100%;
  display: flex;
  margin-top: 6em;
  justify-content: center;
}
.selections {
  text-align: center;
  width: 20em;
  height: 2em;
  border-radius: 2em;
  outline: none;
  cursor: pointer;
}
.cand-img {
  margin-top: 3em;
  margin-right: 3em;
  height: 10em;
  width: 10em;
  object-fit: cover;
  border-radius: 100%;
}
.candidate-form {
  margin-top: 8em;
  width: 100%;
  height: 80%;
  display: inline;
  justify-content: center;
  position: fixed;
  visibility: hidden;
  transition: 300ms ease;
  opacity: 40%;
}
.voter-form {
  margin-top: 8em;
  width: 100%;
  height: 80%;
  display: inline;
  justify-content: center;
  position: fixed;
  visibility: hidden;
  transition: 300ms ease;
  opacity: 40%;
}
.party-form{
  margin-top: 8em;
  width: 100%;
  height: 80%;
  display: inline;
  justify-content: center;
  position: fixed;
  visibility: hidden;
  transition: 300ms ease;
  opacity: 40%;
}

.edt-btns{
  width: 5.5em;
  margin-top: .5em;
  border-radius: 1em;
  transition: 300ms ease;
}
.edt-btns:hover{
  background-color: #119CED;
  color: white;
}
.form-container {
  width: 100%;

  display: flex;
  justify-content: center;
}
.form-contents {
  display: flex;
  width: 35em;
  height: 25em;
  border: 2px solid white;
  padding: 1em 1em 1em 1em;
  justify-content: center;
}

.candidate-infos {
  border-radius: 1em;
  text-align: center;
  transition: 200ms linear;

  outline: none;
}
.cand-pos {
  width: 10em;
  color: white;
  background-color: transparent;
  outline: none;
  border: none;
}
.contents > h4 {
  font-size: 1em;
  color: white;
  font-family: "Roboto";
}
.candidate-submit {
  margin-top: 1em;
  width: 10em;
  outline: none;
}
.search-container {
  float: right;
  margin-right: 2em;
  margin-top: 1em;
}
.search{
  border-radius: 1em;
  outline: none;
  text-align: center;
}


.confirmation {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 40%;
  display: flex;
  justify-content: center;
  height: 42em;
  padding-top: 10em;
  visibility: hidden;
  position: fixed;
  transition: 200ms linear;
  z-index: 100;
}
.input-container {
  background-color: rgb(77, 77, 77);
  display: flex;
  justify-content: center;
  height: 20em;
  width: 30em;
  border-radius: 1em;
}
.inputs {
  text-align: center;
  padding-top: 5em;
  width: 15em;
  
}
.field{
  width: 15em;
  margin-top: 1em;
  border-radius: 1em;
  outline: none;
  border: 3px transparent solid;
  text-align: center;
  transition: 200ms linear;
}
.field:focus{
  border: 3px #119CED solid;
}
.conf-btn{
  width: 10em;
  margin-top: .5em;
  outline: none;
  border: none;
  border-radius: 1em;
  transition: 200ms linear;

}
.conf-btn:hover{
  background-color: #119CED;
  color: white;
}

.conf-animation{
  visibility: visible;
  opacity: 100%;
}