@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("global-nav-style.css");

.profile-image {
  width: 15em;
  border-radius: 100%;
  margin: 5em;
  box-shadow: -.5em .5em white;
}

.profile-page-container {
  height: 100%;
  width: 100%;
  display: flex;

  justify-content: center;
  z-index: 5;
}
.profile-content {
  position: absolute;
  text-align: center;
  width: 60%;
  height: 90%;
  color: white;
  display: flex;
}
.profile-content-components{
  list-style: none;
  margin: 0;
  margin-top: 5em;
  padding: 0;
}
.profile-content-components > li, .profile-infos{
  margin-top: 1em;
  text-align: center;

}
.profile-infos{
  border: 0;
  color: white;
  transition: 500ms linear;
  outline: none;
  border-radius: 1em;


}
.edit-btn{
  outline: none;
  background-color: white;
  color: rgba(49, 49, 49);
  width: 18em;
  border: none;
  border-radius: 1em;
  transition: 50ms linear;
}
.edit-btn:hover{
  background-color: #119CED;
  color: white;
}