@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("global-nav-style.css");

.profile-image {
  width: 10em;
  border-radius: 100%;
}

.profile-page-container {
  height: 100%;
  width: 100%;
  display: flex;

  justify-content: center;
  z-index: 5;
}
.profile-content {
  position: absolute;
  text-align: center;
  width: 60%;
  height: 90%;
  background-color: white;
  color: rgba(58, 58, 58);
  display: block;
}
.profile-content-components{
  list-style: none;
  margin: 0;
  padding: 0;
}
.profile-content-components > li, .profile-infos{
  margin-top: 1em;
  text-align: center;

}
.profile-infos{
  border: 0;
  border-bottom: 1px solid black;
  outline: none;
}